.modal-backdrop
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #fff
  z-index: 2001
  opacity: 0.9

.modal-holder
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2002
  padding: 30px

.modal-box
  margin: 0 auto
  padding: 30px
  position: relative

.overlay7
  background: image-url("overlay7.png")
  width:  image-width("overlay7.png")
  height:  image-height("overlay7.png")
  margin: 0 auto

.overlay4
  background: image-url("overlay4.png")
  width:  image-width("overlay4.png") - 2 * 42px
  height:  image-height("overlay4.png") - 2 * 42px
  margin: 0 auto
  padding: 42px

  h3
    color: #686a6a
    text-transform: uppercase
    font-size: 22px
    font-weight: normal
    letter-spacing: 1.3px
    padding: 0
    margin: 0
    margin-top: 34px
    background: #fff


.overlay-contact
  background: image-url("contact.png")
  width:  image-width("contact.png")
  height:  image-height("contact.png")
  margin: 0 auto
