section.graph
  +no-select
  padding-bottom: 40px

  nav
    padding-top: 20px
    text-align: right
    font-size: 0
    a
      display: inline-block
      width: 40px
      height: 25px
      border: 1px solid $grey_light
    .prev
      background: image-url("arrow-left.png") no-repeat center center
    .next
      background: image-url("arrow-right.png") no-repeat center center


  header
    text-align: right
    padding-top: 20px

  .factors, .indicators
    padding-top: 5px

  .dimension
    padding-top: 35px
    h3
      font-size: 24px
      font-weight: normal
      text-align: right
      cursor: pointer
      position: relative
      +down-triangle($grey_dark, 14px, 13px, 0px)
      span
        display: block
        padding-right: 24px
    .factor
      margin-top: 5px
      h4
        text-align: right
        font-size: 18px
        font-weight: bold
        color: $black
        line-height: 30px //22px
        height: 30px //22px

    .indicator
      margin-bottom: 8px
      height: 21px
      h5
        font-weight: normal
        text-align: right
        font-size: 18px
        line-height: 21px
        height: 21px
      &::after
        border-bottom: 1px solid $grey_light
        margin-left: 70px
        padding-top: 4px
      &:last-child::after
        border: none

  .country-ml
    padding: 7px 0
    cursor: pointer
    i:first-child
      margin-left: 10px

  .select-country
    width: 250px
    top: 123px
    left: -70px
    text-align: left
    +top-triangle($grey_lighter, 14px, 118px)
    li
      &.select-none span
        margin-bottom: 7px
      &.last-selected  span
        border-left: 6px solid $grey_mid
        padding-left: 32px
        background-position: 6px center


  header.countries
    .country-header
      padding: 21px 0 10px
      position: relative
      border-bottom: 5px solid transparent
      a.close
        display: block
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        +replace-text-with-dimensions("cross.png")
      a.info-link
        display: inline-block
        cursor: pointer
        +replace-text-with-dimensions("info.png")
    .last-selected
      border-bottom-color: $grey_mid
    .ghost
      cursor: pointer
      position: relative
      i
        display: inline-block
        +replace-text-with-dimensions("arrow-down.png")
      span.hint
        padding: 18px 10px 16px

  .graph-data::before
    border-bottom: 1px solid $grey_light
    margin-left: 70px
    content: " "
    display: block
    clear: both



.country-ml
  font-size: 0
  i
    display: inline-block
    width: 17px
    height: 7px
    border-right: 1px solid $white
    background: $grey_lighter

@each $colors in $dimensions_colors
  $i: index($dimensions_colors, $colors)
  .dim-#{$i}
    color: map-get($colors, dark)
    @for $j from 1 through 5
      .ml-#{$j} i:nth-child(-n+#{$j})
        background: map-get($colors, dark)



section.graph
  +breakpoint($large)
    +container($large 9)
    +show-grid( $large 9 overlay show )

    .graph-data, .factors, .factor, .indicators, .indicator
      +container
      +break

    .dimension
      h3, h4, h5
        margin: 0
        +span(4 of 9)

    .country-ml
      +span(1 of 9)
      &:nth-child(6)
        +span(1 of 9 last)

      i
        width: 14px
        &:first-child
          margin-left: 6px

  +breakpoint($wide)
    +container($wide 9)
    +show-grid( $wide 9 overlay show )

    .graph-data, .factors, .factor, .indicators, .indicator
      +container
      +break

    .dimension
      h3, h4, h5
        margin: 0
        +span(4 of 9)

    .country-ml
      +span(1 of 9)
      &:nth-child(6)
        +span(1 of 9 last)

      i
        width: 17px
        &:first-child
          margin-left: 10px
