section.stats
  +no-select
  background: $grey_midder
  padding-bottom: 80px

  header.countries
    .country-header
      padding: 31px 0 4px
      border-top: 5px solid transparent
      b
        +filter(grayscale(100%))
      &.ghost span.hint
        padding: 32px 10px 0px
    .last-selected
      border-top-color: $grey_dark

  .stats-inner
    +breakpoint($large)
      +container($large 9)
      +show-grid( $large 9 overlay show )

      .stat-row::before, .stat-row::after
        content: " "
        display: block
        margin: 0 35px


      .stat-row
        +container
        +break
        line-height: 32px
        font-weight: bold
        font-size: 18px
        .title
          +span(4 of 9)
          text-align: right
        .data
          +container
          text-align: right
          letter-spacing: -0.5px
          font-size: 20px
          .ghost
            color: $grey_mid
          .cell
            +span(1 of 9)
            &:nth-child(5)
              +span(1 of 9 last)


        &.population
          text-transform: uppercase
          color: $white
          &::before
            margin-bottom: 24px
            border-bottom: 1px solid $grey_light

        &.internet
          color: $grey_mid

        &.phone
          color: $grey_dark
          &::before
            border-bottom: 1px solid $grey_light

        &.computer
          color: $black
          &::before
            border-bottom: 1px solid $grey_light
          &::after
            margin-top: 20px
            border-bottom: 1px solid $grey_light

      .chart
        +pre(4 of 9)
        .country-stats
          height: 120px
          text-align: center
          +span(1 of 5)
          &:nth-child(5)
            +span(1 of 5 last)
        i
          width: 12px
          display: inline-block
          vertical-align: top
          &.population
            background: $white
          &.internet
            background: $grey_mid
          &.phone
            background: $grey_dark
          &.computer
            background: $black
