<div class="overlay contact">
  <div class="container">
    <a class="close" ng-click="close()"></a>
    <h3>Contacto</h3>
    <div class="left">
      <div class="organization">
        <h4>Organizacion de los estados americanos</h4>
        <address class="line1">17th St. and Constitution Ave., N.W.</address>
        <address class="line2">Washington, D.C., 20006-4499</address>
        <address class="line3">Estados unidos de América</address>
        <span class="phone">Tel: 1 (202) 370 5000</span>
      </div>
      <div class="organization">
        <h4>Banco Interamericano de Desarrollo</h4>
        <address class="line1">IDB Headquarters</address>
        <address class="line2">1300 new York Avenue, N.W.</address>
        <address class="line3">Washington, D.C., 20577, USA</address>
        <span class="phone">Tel: (202) 623 1000</span>
      </div>
    </div>
    <div ng-form class="right" name="contactForm">
      <h4>Formulario de Contacto</h4>

      <input type="text" placeholder="Nombre" ng-model="data.name" ng-required="true"/>
      <input type="email" placeholder="Email"  ng-model="data.email" ng-required="true"/>
      <textarea placeholder="Consulta"  ng-model="data.query" ng-required="true" ></textarea>
      <p class="hint" ng-hide="contactForm.$valid">* Completar campos obligatorios</p>
      <button ng-click="submit()">Enviar</button>
    </div>
  </div>
</div>
