<footer>
  <a id="go-to-top" ng-click="goToTop($event)"></a>
  <div class="isologo">
    <a ui-sref="app.graph">
      <span translate>observatorio.de.la</span>
      <strong translate>ciberseguridad</strong>
      <span translate>en.america.latina.y.el.caribe</span>
    </a>
  </div>
  <nav>
    <a ui-sref="app.about({ locale: locale })" translate>acerca.de</a>
    <a ui-sref="app.contributors({ locale: locale })" translate>contribuidores</a>
    <a ui-sref="app.institutional-information({ locale: locale })" translate>informacion.institucional</a>
    <a ui-sref="modal.contact" translate>contacto</a>
  </nav>
  <p class="copy" translate="copyright" translate-values="{ year: year }"></p>
</footer>
