<div class="navbar-header">
  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">Marino Intranet</a>
  <div class="navbar-brand">
    currentcompany.name
  </div>
</div>
<ul class="nav navbar-top-links navbar-right">
  <li>
    <a href="#"> Ingresar</a>
  </li>
  <li>
    <a href="#"> Registrarse</a>
  </li>
</ul>
