<header ng-controller="Header as vm">

  <h1 class="isologo">
    <a href="/">
      <span translate>observatorio.de.la</span>
      <strong translate>ciberseguridad</strong>
      <span translate>en.america.latina.y.el.caribe</span>
    </a>
  </h1>

  <nav class="lang">
    <a href="#" ng-click="vm.toggleMenu($event)">
      <span class="sm">{{locale==='en' ? 'eng' : 'esp'}}</span>
      <span class="md">{{locale==='en' ? 'english' : 'español'}}</span>
    </a>
    <ul ng-show="vm.langOpened">
      <li>
        <a ng-class="{active: locale=='en'}" href="#" ng-click="vm.changeLocale('en')" translate>english</a>
      </li>
      <li>
        <a ng-class="{active: locale=='es'}" href="#" ng-click="vm.changeLocale('es')" translate>espanol</a>
      </li>
    </ul>
  </nav>

  <nav class="partners">
    <a href="#" class="oea">OAE</a>
    <a href="#" class="bid">BID</a>
  </nav>

</header>
