<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="active-">
        <a href="/">
          <i class="fa fa-home fa-fw"></i>
          Panel de Control
        </a>
      </li>
      <% if can? :manage, CropControl %>
      <li class="active">
        <a href="#">
          <i class="fa fa-bar-chart fa-fw"></i>
          Control de Granos
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Depositos", companies_stores_path %>
          </li>
          <li>
            <%= link_to "Gastos de Comercializacion", companies_marketing_costs_path %>
          </li>
          <li>
            <%= link_to "Movimientos", crop_controls_index_path %>
          </li>
          <li>
            <%= link_to "Resumen", crop_controls_summary_path %>
          </li>
        </ul>
      </li>
      <% end %>
      <% if  can? :manage, Crop or can? :manage, Company    or can? :manage, Store or can? :manage, User %>
      <li>
        <a href="#">
          <i class="fa fa-gears fa-fw"></i>
          Admin
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <% if can? :manage, Company %>
          <li>
            <%= link_to admin_companies_path do %>
            Empresas
            <% end %>
          </li>
          <% end %>
          <% if can? :manage, User %>
          <li>
            <%= link_to admin_users_path do %>
            Usuarios
            <% end %>
          </li>
          <% end %>
          <% if can? :manage, Role %>
          <li>
            <%= link_to admin_roles_path do %>
            Roles
            <% end %>
          </li>
          <% end %>
          <% if can? :manage, Crop %>
          <li>
            <%= link_to admin_crops_path do %>
            Granos
            <% end %>
          </li>
          <li>
            <%= link_to prices_admin_crops_path do %>
            Precios Brutos de Granos
            <% end %>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
