<p class="lead">
  <span translate>este.sitio.permite.conocer.el</span>
  <a translate ui-sref="modal.maturity-levels">grado.de.madurez</a>
  <span translate>de.cada.pais.en.terminos.de.ciberseguridad</span>
  <span translate>boreceror.solupta</span>
</p>

<div class="select">
  <button>
    <span ng-click="toggleCountrySelect()" ng-show="!$stateParams.countries" translate>selecciona.un.pais</span>
    <span ng-click="toggleCountrySelect()" ng-show="$stateParams.countries" translate>compara.otro.pais</span>
    <ul ng-show="countrySelectOpened" class="select-country" click-out="hide()">
      <li class="select-none" >
        <span ng-click="toggleCountriesOff()"  translate>deseleccionar.todos</span>
      </li>
      <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
        <span ng-click="toggleCountry(country.code)">{{country.name}}</span>
      </li>
    </ul>
  </button>
</div>

<div class="info empty" ng-if="!$stateParams.last_selected">
  <h3 translate>pais.seleccionado</h3>
  <p translate>enterate.de.la.situacion</p>
</div>

<div class="info" ng-if="$stateParams.last_selected">
  <h3>{{last_selected().name}}</h3>
  <p>
    {{last_selected().excerpt}}
    <br/>
    <a ui-sref="modal.country-details({code: $stateParams.last_selected})" translate>leer.mas</a>
  </p>
</div>
