<nav>
  <a ng-hide="showGhostCountry()" class="select" ng-click="toggleNavCountrySelect()">
    <span translate>seleccionar.un.pais</span>
    <ul ng-show="navCountrySelectOpened" class="select-country">
      <li class="select-none" >
        <span ng-click="deselectAll()" translate>deseleccionar.todos</span>
      </li>
      <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
        <span ng-click="clickCountry(country.code, $event)">{{country.name}}</span>
      </li>
    </ul>
  </a>
  <a ng-show="showPager()" class="prev" ng-click="prev()"></a>
  <a ng-show="showPager()" class="next" ng-click="next()"></a>
</nav>
<header class="countries">
  <div ng-repeat="country in shownCountries()" id="country-{{country.code}}" draggable droppable drop="handleDrop" class="country-header" ng-class="{'last-selected':($stateParams.last_selected == country.code)}">
    <a class="close" ng-click="toggleCountry(country.code)"></a>
    <b class="flag-{{country.code}}"></b>
    <span class="country-name">{{country.name}}</span>
    <a  ui-sref="modal.country-details({code: country.code})" class="info-link"></a>
  </div>

  <div ng-show="showGhostCountry()" class="country-header ghost" ng-click="toggleCountrySelect($event)" id="country-ghost" droppable drop="handleDrop" >
    <span class="hint" translate>selecciona.un.pais.para.comparar</span>
    <i></i>
    <ul ng-show="countrySelectOpened" class="select-country">
      <li class="select-none" >
        <span ng-click="deselectAll()" translate>deseleccionar.todos</span>
      </li>
      <li ng-repeat="country in countries" ng-class="{'selected':($stateParams.countries.indexOf(country.code) > -1), 'last-selected':($stateParams.last_selected == country.code)}" >
        <span ng-click="clickCountry(country.code, $event)">{{country.name}}</span>
      </li>
    </ul>
  </div>
</header>

<div class="graph-data">
  <div ng-repeat="dimension in dimensions" class="dimension dim-{{dimension.id}}">
    <h3 ng-click="toggleDimension(dimension)">
      <span>{{ dimension.title }}</span>
    </h3>
    <div class="factors fade" ng-animate="'animate'" ng-hide="colapsedDimensions(dimension)">
      <div ng-repeat="factor in dimension.factors" class="factor">
        <h4>{{factor.title}}</h4>
        <div class="indicators">
          <div ng-repeat="indicator in factor.indicators" class="indicator">
            <h5>{{indicator.title}}</h5>
            <div ng-repeat="country in shownCountries()" class="country-ml" ng-class="'ml-'+(country.maturity_levels[indicator.id])">
              <i></i><i></i><i></i><i></i><i></i>
            </div>
            <div class="country-ml ghost" ng-show="showGhostCountry()">
              <i></i><i></i><i></i><i></i><i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
