<div class="stats-inner">
  <header class="countries">
    <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="country-header" ng-class="{'last-selected':($stateParams.last_selected == country.code)}">
      <b class="flag-{{country.code}}"></b>
      <span class="country-name">{{country.name}}</span>
    </div>
    <div ng-if="($stateParams.countries.split('-').length - $stateParams.offset) < 5 " class="country-header ghost">
      <span class="hint" translate>pais.seleccionado</span>
    </div>
  </header>

  <div class="population stat-row">
    <div class="title" translate>poblacion.total</div>
    <div class="data">
      <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="cell">
        {{country.population | number:0}}
      </div>
      <div ng-if="($stateParams.countries.split('-').length - $stateParams.offset) < 5 " class="cell ghost">
        00.000.000
      </div>
    </div>
  </div>

  <div class="internet stat-row">
    <div class="title" translate>con.acceso.a.internet</div>
    <div class="data">
      <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="cell">
        {{country.people_with_internet | number:0}}
      </div>
      <div ng-if="($stateParams.countries.split('-').length - $stateParams.offset) < 5 " class="cell ghost">
        00.000.000
      </div>
    </div>
  </div>

  <div class="phone stat-row">
    <div class="title" translate>con.acceso.a.internet.movil</div>
    <div class="data">
      <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="cell">
        {{country.people_with_mobile_phone | number:0}}
      </div>
      <div ng-if="($stateParams.countries.split('-').length - $stateParams.offset) < 5 " class="cell ghost">
        00.000.000
      </div>
    </div>
  </div>

  <div class="computer stat-row">
    <div class="title" translate>con.computador</div>
    <div class="data">
      <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="cell">
        {{country.people_with_broadband | number:0}}
      </div>
      <div ng-if="($stateParams.countries.split('-').length - $stateParams.offset) < 5 " class="cell ghost">
        00.000.000
      </div>
    </div>
  </div>

  <div class="chart">
    <div ng-repeat="country in countries | selectedCountries:$stateParams.countries.split('-') | offset:$stateParams.offset | limitTo:5" class="country-stats">
      <i class="population" ng-style="{ 'height' : statsChartHeight(country.population)+'%'}"></i>
      <i class="internet" ng-style="{ 'height' : statsChartHeight(country.people_with_internet)+'%'}"></i>
      <i class="phone" ng-style="{ 'height' : statsChartHeight(country.people_with_mobile_phone)+'%'}"></i>
      <i class="computer" ng-style="{ 'height' : statsChartHeight(country.people_with_broadband)+'%'}"></i>
    </div>
  </div>

</div>
