

.isologo
  margin: 0
  a
    display: block
    span
      font-weight: normal
      display: block
      color: $grey_mid
      white-space: nowrap
    strong
      font-weight: bold
      display: block
      color: $black


.fade
  opacity: 1

.fade.ng-hide
  opacity: 0

.fade.ng-hide-add, .fade.ng-hide-remove
  transition: 0 .5s linear all
