

.isologo
  margin: 0
  a
    display: block
    span
      font-weight: normal
      display: block
      color: $grey_mid
      white-space: nowrap
    strong
      font-weight: bold
      display: block
      color: $black
